{% extends 'hmpapp/base.html' %}

{% block pgtitle %}Project{% endblock %}

{% block css %}{% endblock %}


{% block title %}HMP | Project{% endblock %}
<div>{% block content %} {% load static %}</div>
<!-- start -->
<div class="pb-40">



    <h2 class="text-2xl text-center py-1 font-bold">Add Request <i class="fa-solid fa-address-card"></i></h2>

    {% if error_message %}
        <p>{{ error_message }}</p>
    {% endif %}

    <form action="{% url 'addrequest' %}" method="post" class="max-w-sm mx-auto px-2">
        {% csrf_token %}
        
        <div class="mb-5">
            <label for="reqtitle" class="block mb-2 text-sm font-medium text-gray-900 ">Request Title:</label>
            <input type="text" id="reqtitle" name="reqtitle"
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" 
                placeholder="abc request" required>
        </div>
        
        <div class="mb-5">
            <label for="req_details" class="block mb-2 text-sm font-medium text-gray-900">Details:</label>
            <textarea id="req_details" name="req_details" rows="4" 
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" 
                placeholder="Enter request details here..." required></textarea>
        </div>

        <!-- Project Dropdown -->
        <div class="mb-5">
            <label for="projectid" class="block mb-2 text-sm font-medium text-gray-900">Select Project:</label>
            <select id="projectid" name="projectid" 
                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" required>
                <option value="" disabled selected>Select a project</option>
                {% for project in activeProjects %}
                    <option value="{{ project.proj_id }}">{{ project.proj_id }} {{ project.projtitle }}</option>
                {% endfor %}
            </select>
        </div>
        
        <button type="submit" 
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-10 py-2.5 text-center">Save Project
        </button>
    </form>
    







</div>    
<!-- end -->
{% endblock %}