{% extends 'hmpapp/base.html' %}

{% block pgtitle %}Project : {{lenProj_Data}}{% endblock %}

{% block css %}{% endblock %}


{% block title %}HMP | Project{% endblock %}
<div>{% block content %} {% load static %}</div>
<!-- start -->
<div>

    <a href="/addproject/">
        <div class="mx-2 p-1 border rounded-md bg-green-300 text-center font-bold mb-2 hover:shadow hover:shadow-md hover:shadow-green-600 hover:shadow hover:shadow-md hover:shadow-green-600">
            <i class="mr-2 fa-solid fa-square-plus"></i>Add New Project
        </div>
    </a>

    <div class="mx-2 grid grid-cols-3 gap-2 mb-4 text-xs">
        <a href="/projects/onhold"><p class="p-1 border rounded-md bg-yellow-200 text-center font-bold mt-2 hover:shadow hover:shadow-md hover:shadow-green-600 hover:shadow hover:shadow-md hover:shadow-yellow-600">
            Onhold
        </p></a>
        <a href="/projects/talk"><p class="p-1 border rounded-md bg-yellow-200 text-center font-bold mt-2 hover:shadow hover:shadow-md hover:shadow-green-600 hover:shadow hover:shadow-md hover:shadow-yellow-600">
            Talk
        </p></a>
        <a href="/projects/new"><p class="p-1 border rounded-md bg-yellow-200 text-center font-bold mt-2 hover:shadow hover:shadow-md hover:shadow-green-600 hover:shadow hover:shadow-md hover:shadow-yellow-600">
            New
        </p></a>
        <a href="/projects/progress"><p class="p-1 border rounded-md bg-yellow-200 text-center font-bold mt-2 hover:shadow hover:shadow-md hover:shadow-green-600 hover:shadow hover:shadow-md hover:shadow-yellow-600">
            Progress
        </p></a>
        <a href="/projects/submission"><p class="p-1 border rounded-md bg-yellow-200 text-center font-bold mt-2 hover:shadow hover:shadow-md hover:shadow-green-600 hover:shadow hover:shadow-md hover:shadow-yellow-600">
            Submission
        </p></a>
        <a href="/projects/done"><p class="p-1 border rounded-md bg-yellow-200 text-center font-bold mt-2 hover:shadow hover:shadow-md hover:shadow-green-600 hover:shadow hover:shadow-md hover:shadow-yellow-600">
            Done
        </p></a>
    </div>

    <hr>

    <!-- project list -->
    <div>
        {% for project in Proj_Data %}
        <a href="/projectdetails/{{ project.proj_id }}" rel="noopener noreferrer">  <!-- Adjust the link as needed -->
            <div class="text-xs font-bold py-1 px-2 my-2 mx-1 border rounded-md bg-yellow-200 text-green-700">
                <i class="mr-2 fa-solid fa-shield"></i>{{project.proj_id}} - {{project.projtitle}} - {{project.user_name|title}} <br>{{project.pub_date}} - {{project.pub_time}} - {{project.status|title}}
            </div>
        </a>
    {% empty %}
        <p class="text-md font-bold text-red-600 text-center">No projects found.</p>  <!-- Message if no projects are available -->
    {% endfor %}
    
    </div>
    
    
    
</div>    
<!-- end -->
{% endblock %}